<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ask a question for your coach!</h1>
  <form action="/answer">
    <label for="question">What would you like to ask your coach?</label><br>
    <input type="text" id="question" name="question"><br>
    <input type="Submit" value="Submit">
  </form>
</body>
</html>
